build/bin
frontend/node_modules
frontend/dist
.gitignore
models/
audio_cache/
localflow.db
localflow_config.json
dll_builder/
run_dev.bat
LocalFlow.exe
node_modules/
installer/build/
payload.zip
dist/